exportPattern("^[[:alpha:]]+")

export(fars_map_state)
export(fars_read)
export(fars_read_years)
export(fars_summarize_years)
export(make_filename)
importFrom(dplyr,bind_rows)
importFrom(dplyr,filter_)
importFrom(dplyr,group_by_)
importFrom(dplyr,mutate_)
importFrom(dplyr,select_)
importFrom(dplyr,summarize_)
importFrom(dplyr,tbl_df)
importFrom(graphics,points)
importFrom(magrittr,"%>%")
importFrom(dplyr,n)
importFrom(maps,map)
importFrom(readr,read_csv)
importFrom(tidyr,spread_)
importFrom(knitr,fig_path)
